<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="name">
    <div class="title2" style="width: 200px;height: 100px; background-color: red;"></div>
    <div class="title2" style="width: 100px;height: 100px;background-color: blue;"></div>
  </div>
  

  <div class="title"></div>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input [(ngModel)]="tel"></ion-input>
    </ion-item>
    <ion-button color="success" expand="full" (click)="add_item(tel)" color="primary">Outline + Full</ion-button>
<ion-button (click)="presentAlertConfirm()">click</ion-button>
    <ion-item *ngFor="let item of students">
      <ion-label class="title">
        <div>sadfasdf</div>
        Name {{item.name}} TEL : {{item.tel}}
      </ion-label>
    </ion-item>
    <h1>
      {{show_text()}}
    </h1>
  </ion-list>
  <div style="font-size: 30px;color: cornflowerblue;">
    สวัสดีครับ
  </div>

</ion-content>