<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input [(ngModel)]="tel"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="add_item(tel)" color="primary">Outline + Full</ion-button>

    <ion-item *ngFor="let item of students">
      <ion-label>Name {{item.name}} TEL : {{item.tel}}</ion-label>
    </ion-item>
    <h1>
      {{show_text()}}
    </h1>
  </ion-list>

</ion-content>